<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <% include ../plugin/css-source.html %>
</head>
<body>
<div id="wrapper">
    <% include ../plugin/action.html %>
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">上传</h3>
                </div>
            </div>
            <div class="upload-area">
                <div class="btn btn-default upload_btn" style="position: relative">上传
                    <input type="file" name="file" id="upload" multiple="multiple" onChange="change('upload',0,0,0,0)" accept="image/*">
                </div>
                <div class="img-list"></div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">时间</h3>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="d12">datetime</label>
                            <input class="form-control"
                                   onclick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:00:00',isShowClear:false,readOnly:true})"
                                   id="d12" type="text" readonly/>
                            <img src="/Public/js/My97DatePicker/skin/datePicker2.gif" width="16" height="22" align="absmiddle" onclick="d12.click()">
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Uedit</h3>
                </div>
            </div>

            <div class="row">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>

<% include ../plugin/js-source.html %>

<script>
    var ue = UE.getEditor('container', {
        toolbars: [
            [
                'undo', 'redo', '|',
                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                'directionalityltr', 'directionalityrtl', 'indent', '|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                'simpleupload', 'insertimage', 'emotion'
            ]
        ],
        initialFrameWidth: 750,
        autoHeightEnabled: true,
        autoFloatEnabled: false
    });
</script>
</body>
</html>