<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <% include ../plugin/css-source.html %>
</head>
<body>
<div id="wrapper">
    <% include ../plugin/action.html %>
    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Highcharts</h3>
                </div>
            </div>

            <div class="row">
                <div id="hc"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">上传</h3>
                </div>
            </div>

            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="d12">图片</label>
                        <div class="col-sm-10">
                            <div class="upload-area">
                                <div class="btn btn-default upload_btn">上传
                                    <input type="file" name="file" id="upload" multiple="multiple" onChange="change('upload',0,0,0,0)" accept="image/*"/>
                                </div>
                                <div class="img-list"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">时间</h3>
                </div>
            </div>

            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="d12">datetime</label>
                        <div class="col-sm-4">
                            <input class="form-control date-packer"
                                   onclick="WdatePicker({doubleCalendar:true,startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:00:00',isShowClear:true})"
                                   id="d12" type="text" readonly/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Uedit</h3>
                </div>
            </div>

            <div class="row">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>

<% include ../plugin/js-source.html %>

<script>
    var ue = UE.getEditor('container', {
        toolbars: [
            [
                'undo', 'redo', '|',
                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'removeformat', 'pasteplain', '|',
                'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', '|',
                'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                'customstyle', 'paragraph', 'fontsize', '|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                'link', 'unlink', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                'simpleupload', 'emotion'
            ]
        ],
//        initialFrameWidth: 750,
        autoHeightEnabled: true,
        autoFloatEnabled: false
        //,iframeCssUrl: URL + '/themes/iframe.css' //给编辑区域的iframe引入一个css文件
    });
    ue.ready(function () {
        ue.execCommand('drafts');
    });

    $('#hc').highcharts({                   //图表展示容器，与div的id保持一致
        chart: {
            type: 'line'                         //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: 'My first Highcharts chart'      //指定图表标题
        },
        xAxis: {
            categories: ['my', 'first', 'chart']   //指定x轴分组
        },
        yAxis: {
            title: {
                text: ''                  //指定y轴的标题
            }
        },
        series: [{                                 //指定数据列
            name: 'Jane',                          //数据列名
            data: [1, 0, 4]                        //数据
        }, {
            name: 'John',
            data: [5, 7, 3]
        }],
        credits: {
            enabled: false
        }
    });


</script>
</body>
</html>